# ==============================

# PYTHON

# ==============================

**pycache**/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# ==============================

# VIRTUAL ENV

# ==============================

venv/
.env/
.envrc

# ==============================

# JUPYTER

# ==============================

.ipynb_checkpoints/

# ==============================

# HYDRA (VERY IMPORTANT)

# ==============================

outputs/
multirun/

# ==============================

# MLFLOW

# ==============================

mlruns/
mlartifacts/

# ==============================

# WANDB

# ==============================

wandb/

# ==============================

# LOGS

# ==============================

logs/
*.log

# ==============================

# MODEL CHECKPOINTS

# ==============================

checkpoints/
*.ckpt
*.pt
*.pth
*.onnx
*.h5
*.pkl

# ==============================

# DATA (OPTIONAL)

# ==============================

data/
datasets/

# ==============================

# EXPERIMENT ARTIFACTS

# ==============================

artifacts/
runs/
results/

# ==============================

# DOCKER

# ==============================

*.tar

# ==============================

# VS CODE

# ==============================

.vscode/

# ==============================

# SYSTEM FILES

# ==============================

.DS_Store
Thumbs.db

# ==============================

# TEMP FILES

# ==============================

*.swp
*.tmp
